#chatbox > p {
    border-bottom: 1px solid #36393e!important;
}


#cb_connect_option {
    background-color: #36393e!important;
}



.chat-row:nth-child(even), #chatbox > :nth-child(even) {
    background-color: #36393e!important;
}
