@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');
body{font-family: 'Neo Sans Arabic', sans-serif!important;}
.chatbox{font-family: 'Neo Sans Arabic', sans-serif!important;}

#chatbox > p {
    border-bottom: 1px solid #36393e!important;
    
}


#cb_connect_option {
    background-color: #36393e!important;
}



.chat-row:nth-child(even), #chatbox > :nth-child(even) {
    background-color: #36393e!important;
}
