@font-face {
    font-family: 'Neo Sans Arabic';
    font-style: normal;
    font-weight: 400;
    src: local('Neo Sans Arabic'), url('https://fonts.cdnfonts.com/s/29926/Neo Sans Arabic Regular.woff') format('woff');
}

body{font-family: 'Neo Sans Arabic', sans-serif!important;}


#chatbox > p {
    border-bottom: 1px solid #36393e!important;
    font-family: 'Neo Sans Arabic', sans-serif!important;
}


#cb_connect_option {
    background-color: #36393e!important;
}



.chat-row:nth-child(even), #chatbox > :nth-child(even) {
    background-color: #36393e!important;
}
